
// ----------------------------------------------------------------------------------------------------------------- //
// block and body
// ----------------------------------------------------------------------------------------------------------------- //

//block #function [ %AsList ]
//
//    function(c%Cid, r%Rid, a%Rid, index, count %parent.Args) {
//        %.#function-body
//    }
//
//block #function
//
//    function(c%Cid, a%Rid, index, count %parent.Args) {
//        %.#function-body
//
//        return r%Rid;
//    }
//
//block #function-body
//
//    %parent.Args#defaults
//    %.#prologue
//
//    %.

// ----------------------------------------------------------------------------------------------------------------- //

//* #prologue [ %type() == 'object' ]
//
//    var r%Rid = {};

// ----------------------------------------------------------------------------------------------------------------- //

//* #body [ %inline() && (%type() == 'nodeset' || %type() == 'boolean') ]
//
//    r%parent.Rid = %.;
//
//* #body [ %inline() ]
//
//    r%parent.Rid += %.;
//
//* #body
//    %Block

//* #block_expr [ %AsList ]
//
//    %.#listitem

//* #block_expr
//
//    %.#output

// ----------------------------------------------------------------------------------------------------------------- //

// ----------------------------------------------------------------------------------------------------------------- //
// defs: template, function_, key, var_
// ----------------------------------------------------------------------------------------------------------------- //

//template #function [ %AsList ]
//
//    function(c%Cid, r%Rid, a%Rid, index, count %Args) {
//        %.#function-body
//    }



// ----------------------------------------------------------------------------------------------------------------- //
// block expressions
// ----------------------------------------------------------------------------------------------------------------- //

//if_ #listitem [ %Else && %Then.inline() && %Else.inline() ]
//
//    r%{Rid}.push( (%Condition) ? %Then : %Else );
//
//if_ #listitem [ %AsListItem && %Else ]
//
//    %Then#prologue
//    if (%Condition) {
//        %Then#body
//    } else {
//        %Else#body
//    }
//    r%{Rid}.push( r%Then.Rid );
//
//if_ #listitem [ %AsListItem ]
//
//    if (%Condition) {
//        %Then#prologue
//        %Then#body
//        r%{Rid}.push( r%Then.Rid );
//    }
//
//if_ #listitem
//
//    %.#output

//if_ #output [ %Else && %Then.inline() && %Else.inline() ]
//
//    r%Rid += (%Condition) ? %Then : %Else;

// ----------------------------------------------------------------------------------------------------------------- //

//for_ #listitem [ %Body.AsList ]
//
//    %.#output
//
//for_#listitem
//
//    %Body#prologue
//    %.#output
//    r%{Rid}.push( r%Body.Rid );
//

// ----------------------------------------------------------------------------------------------------------------- //

//apply #listitem [ !%Args.empty() ]
//
//    applyList(%Expr, %Mode, r%Rid, %Args);
//
//apply #listitem
//
//    applyList(%Expr, %Mode, r%Rid);

// ----------------------------------------------------------------------------------------------------------------- //

//xml_line #listitem
//
//    r%{Rid}.push( %.#content );

// ----------------------------------------------------------------------------------------------------------------- //

//attr #listitem
//    %.#output

//attrs_close #listitem
//    %.#output

//attrs_open #listitem
//    %.#output

// ----------------------------------------------------------------------------------------------------------------- //

//scalar #listitem
//
//    %Block#prologue
//    %Block
//    r%{Rid}.push( r%Block.Rid );

// ----------------------------------------------------------------------------------------------------------------- //

//pair #listitem [ %Value.inline() ]
//
//    r%Rid[ %Key ] = %Value;
//
//pair #listitem
//
//    %Value.Body#prologue
//    %Value
//    r%Rid[ %Key ] = r%Value.Rid;

// ----------------------------------------------------------------------------------------------------------------- //

//array #listitem
//
//    %Body
//    r{%Rid}.push( r%Body.Rid );
//
//array #output
//
//    %Body
//
//array
//
//    %Body

// ----------------------------------------------------------------------------------------------------------------- //

//object #listitem
//
//    %Body
//    r%{Rid}.push( r%Body.Rid );
//
//object #output
//
//    %Body
//
//object
//
//    %Body



