-------------------------------------------------------------------------------
stylesheet:

%body

-------------------------------------------------------------------------------
block:

%?vars

%?templates

%?functions

%?exprs

-------------------------------------------------------------------------------
blockComplex:

(
    %body
)

-------------------------------------------------------------------------------
if_:

if %condition {
    %then
} else {
    %!else
}

-------------------------------------------------------------------------------
if_:

if %condition {
    %then
}

-------------------------------------------------------------------------------
for_:

for %expr {
    %body
}

-------------------------------------------------------------------------------
template:

match %jpath%mode {
    %body
}

-------------------------------------------------------------------------------
templateMode:               \ : %!value
-------------------------------------------------------------------------------
function_:

function %name(%args) {
    %body
}

-------------------------------------------------------------------------------
var_:

$%name = %value

-------------------------------------------------------------------------------
varBlock:

$%name = (
    %value
)

-------------------------------------------------------------------------------
apply:

apply %expr(%!args)%mode

-------------------------------------------------------------------------------
apply:

apply %expr%mode

-------------------------------------------------------------------------------
inlineOr:                   %left || %right
-------------------------------------------------------------------------------
inlineAnd:                  %left && %right
-------------------------------------------------------------------------------
inlineNot:                  !%left
-------------------------------------------------------------------------------
inlineEq:                   %left %op %right
-------------------------------------------------------------------------------
inlineRel:                  %left %op %right
-------------------------------------------------------------------------------
inlineAdd:                  %left %op %right
-------------------------------------------------------------------------------
inlineMul:                  %left %op %right
-------------------------------------------------------------------------------
inlineUnary:                -%expr
-------------------------------------------------------------------------------
inlineUnion:                %left | %right
-------------------------------------------------------------------------------
inlineComplex:              (%expr)
-------------------------------------------------------------------------------
inlineFunction:             %name(%args)
-------------------------------------------------------------------------------
inlineNumber:               %value
-------------------------------------------------------------------------------
inlineVar:                  $%name
-------------------------------------------------------------------------------
attr:

@%name %op %expr

-------------------------------------------------------------------------------
jpath:                      %!context/%steps
-------------------------------------------------------------------------------
jpath:                      %absolute%steps
-------------------------------------------------------------------------------
predicate:                  [ %expr ]
-------------------------------------------------------------------------------
jpathStep:                  %name%predicate
-------------------------------------------------------------------------------
xmlEmpty:                   <%name%attrs/>
-------------------------------------------------------------------------------
xmlStart:                   <%name%attrs>
-------------------------------------------------------------------------------
xmlEnd:                     </%name>
-------------------------------------------------------------------------------
xmlText:                    %text
-------------------------------------------------------------------------------
xmlAttr:                    \ %name=%value
-------------------------------------------------------------------------------
argListItem:                %name
-------------------------------------------------------------------------------
inlineString:               "%value"
-------------------------------------------------------------------------------
stringExpr:                 { %expr }
-------------------------------------------------------------------------------
stringLiteral:              %value
-------------------------------------------------------------------------------
nodeset2scalar:             %expr
-------------------------------------------------------------------------------
nodeset2boolean:            %expr
-------------------------------------------------------------------------------
scalar2boolean:             %expr
-------------------------------------------------------------------------------
inlineGrep:                 %expr[ %predicate.expr ]
-------------------------------------------------------------------------------
