module [ p.Name ]

// FIXME экранировать кавычки
    module "%{ Name }"

    %{ Block }

module

    %{ Block }

// ----------------------------------------------------------------------------------------------------------------- //

template

    match %{ Selectors } %{ Mode } %{ Args :list } %{ Body }

template_mode

    %{ Value }

// ----------------------------------------------------------------------------------------------------------------- //

function_

    func %{ Name }(%{ Args }) %{ Body }

// ----------------------------------------------------------------------------------------------------------------- //

key

    key %{ Name } (%{ Nodes }, %{ Use }) %{ Body }

// ----------------------------------------------------------------------------------------------------------------- //

arglist :list

    (%{ . })

arglist_item [ p.Default ]

    %{ Typedef } %{ Name } = %{ Default }

arglist_item

    %{ Typedef } %{ Name }

// ----------------------------------------------------------------------------------------------------------------- //

var_

    %{ Name } = %{ Value }

// ----------------------------------------------------------------------------------------------------------------- //

body [ p.AsList ]

    [
        %{ Block }
    ]

body

    {
        %{ Block }
    }

// ----------------------------------------------------------------------------------------------------------------- //

block

    %{ Items }

// ----------------------------------------------------------------------------------------------------------------- //

block_exprs

    %{ yate__() }

// ----------------------------------------------------------------------------------------------------------------- //

if_

    if %{ Condition } %{ Then }%{ Elses }

else_if

    \ else if %{ Condition } %{ Body }

else_

    \ else %{ Body }

// ----------------------------------------------------------------------------------------------------------------- //

for_

    for %{ Expr } %{ Body }

// ----------------------------------------------------------------------------------------------------------------- //

apply

    apply %{ Expr } %{ Mode } %{ Args :list }

// ----------------------------------------------------------------------------------------------------------------- //

attr

    @%{ Name } %{ Op } %{ Value }

// ----------------------------------------------------------------------------------------------------------------- //

inline_or
    %{ Left } || %{ Right }

inline_and
    %{ Left } && %{ Right }

inline_not
    !%{ Left }

inline_eq
    %{ Left } %{ Op } %{ Right }

inline_rel
    %{ Left } %{ Op } %{ Right }

inline_add
    %{ Left } %{ Op } %{ Right }

inline_mul
    %{ Left } %{ Op } %{ Right }

inline_unary
    -%{ Expr }

inline_union
    %{ Left } | %{ Right }

inline_subexpr
    ( %{ Expr } )

inline_function
    %{ Name }(%{ Args })

inline_number
    %{ Value }

inline_var
    %{ Name }

//  ---------------------------------------------------------------------------------------------------------------  //

callargs :list

    (%{ . })

callarg
    %{ Expr }

// ----------------------------------------------------------------------------------------------------------------- //

jpath [ p.Abs ]
    /%{ Steps }

jpath
    %{ Steps }

jpath_dots
    %{ Dots }

jpath_nametest
    .%{ Name }%{ Predicates }

jpath_predicate
    [ %{ Expr } ]

jpath_filter
    %{ Expr }%{ JPath }

// ----------------------------------------------------------------------------------------------------------------- //

xml_empty
    <%{ Name }%{ Attrs }/>

xml_start
    <%{ Name }%{ Attrs }>

xml_end
    </%{ Name }>

xml_text
    %{ Text }

xml_attr
    \ %{ Name }=%{ Value }

// ----------------------------------------------------------------------------------------------------------------- //

// FIXME экранировать кавычки
inline_string
    "%{ Value }"

string_expr
    { %{ Expr } }

string_literal
    %{ Value }

// ----------------------------------------------------------------------------------------------------------------- //

subexpr
    (
        %{ Block }
    )

pair
    %{ Key } : %{ Value }

array
    [
        %{ Block }
    ]

object
    {
        %{ Block }
    }

value

    %{ Value }

simple_jpath

    .%{ Name }

cast

    %{ Expr }

// vim: set filetype=javascript:


